@model IEnumerable<Product>
@{
    ViewData["Title"] = "Homepage";
}

<h2 class="text-center mt-3">Farmers</h2>
<h4 class="text-center mb-4">
    <small class="text-muted">(Click the Maker for go to Farm)</small>
</h4>

<div id="home-map"></div>
<hr />
<h2 class="text-center mt-3">Last 9 Products</h2>
<div class="mt-5 mb-5 m-2">
    <div class="d-flex flex-wrap justify-content-center">
        @foreach (var product in Model)
        {
            @await Html.PartialAsync("_ProductCard", product)
        }
    </div>
</div>

<script>
    var map;
    var markers = [];
    var infowindow;
    var farmers = JSON.parse('@Html.Raw(Json.Serialize(ViewBag.Farmers))');

    function initHomeMap() {
        var haightAshbury = {lat: 38.923704, lng: 35.050316};
        map = new google.maps.Map(document.getElementById('home-map'), {
            zoom: 6,
            center: haightAshbury,
            mapTypeId: 'terrain'
        });

        infowindow = new google.maps.InfoWindow();

        for(let i=0; i < farmers.length; i++)
        {
            addMarker(farmers[i]);
        }
    }

    function addMarker(farmers) {
        var marker = new google.maps.Marker({
            position: {lat: farmers.latitude, lng: farmers.longitude},
            map: map
        });

        google.maps.event.addListener(marker, 'click', (function (marker) {
            return function () {
                infowindow.setContent('<h5>' + farmers.farmName + 
                                      '</h5><div class="text-center"><a class="btn-sm btn-success" style="color: white;" href=' + 
                                      window.location.href + 'Farmer/Details/' + farmers.id + '>' +
                                      'Go To Farm</a></div>');
                infowindow.open(map, marker);
            }
        })(marker));

        markers.push(marker);
    }
</script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2DE8ng2ubnaykb6ZToJbYwXKHD7iGS8o&callback=initHomeMap"
            async defer></script>
