@inject SignInManager<ApplicationUser> SignInManager

<ul class="list-group">
    <li class="list-group-item"><a asp-page="./Index">Profile</a></li>
    <li class="list-group-item"><a id="change-password" asp-page="./ChangePassword">Password</a></li>
</ul>
